<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions for Maps and Location -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Drivr"
        tools:targetApi="31">
        <activity
            android:name=".MapActivity"
            android:exported="true" />
        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyArg9Bz4DagyhgY4ckaiufT8mm6crsk7uQ" /> <!-- Profile Picture Selection Activity -->
        <activity
            android:name=".ProfilePictureSelectionActivity"
            android:exported="true" /> <!-- User Profile Activity -->
        <activity
            android:name=".UserProfileActivity"
            android:exported="true" /> <!-- Search Activity -->
        <activity
            android:name=".SearchActivity"
            android:exported="true" /> <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="true" /> <!-- Hub Activity -->
        <activity
            android:name=".HubActivity"
            android:exported="true" /> <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" /> <!-- Create Account Activity -->
        <activity
            android:name=".CreateAccountActivity"
            android:exported="true" /> <!-- Startup Activity -->
        <activity
            android:name=".StartupActivity"
            android:exported="true" /> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>